.hero-container {
    position: relative;
}
.hero {
    background: url('../../images/image-hero-mobile.jpg');
    height: 270px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

@media (min-width: 800px) {
    .hero {
        background: url('../../images/image-hero-desktop.jpg');
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }
}