* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

:root {
  --white: #fff;
  --snow: #fafafa;
  --offwhite: whitesmoke;
  --gray: darkgray;
  --light-gray: rgb(230, 230, 230);
  --teal: #3cb3ab;
  --light-teal: #e4fdfc;
  --black: #222f3e;
  --border: 2px solid #00d2d3;
  --border2: 1px solid #1dd1a1;
}

body {
  position: relative;
  /* background-color: var(--snow); */
  /* background:var(--black); */
  background: var(--offwhite);
}


/* Each containers width is 730px max-width */
