.nav {
    width: 100%;
    margin: 0 auto;
    /* border: var(--border); */
    position: absolute;
    background: var(--white);
    left: 0;
    right: 0;
    bottom: -223px;
    height: 206px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.45);
}
.nav h2 {
    font-weight: 700;
    padding: 1rem;
    font-size: 1.5rem;
    color: black;
    cursor: not-allowed;
}

.nav-about,
.nav-discover {
    border-bottom: 1px solid var(--light-gray);
}

@media (min-width: 730px) {
    .nav {
        display: none;
    }
}